.gallery__item {
  display: inline-flex;
  margin-right: 30px;
  /* flex-direction: row; */
  justify-content: center;
  /* align-items: center; */
}

.gallery__image {
  width: 320px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
